<div class="row">
  <nav class="navbar padding-0" style="background-color:#000; height:70px; width:100%; right:0; left:0; ">
    <div class="padding-0" >
      <div class="navbar-header padding-0" style="width:100%;" >
        <div class="col-xs-12">  <h1><a href="{{ path('index') }}" style="text-decoration:none; color:#fff;"><strong>UN BEAU DISCOURS</strong></a></h1> </div>
      </div>
    </div>
  </nav>
</div>
<div class="row">
  <div class="col-md-12 entete" style="margin-top:10px; margin-bottom:30px; background-color:#000;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-9">
              <br/>
              <p><strong>www.unbeaudiscours.fr</strong> vous propose d'améliorer les discours monotones mille fois déjà entendus.</p>
              <br/>
              <p>Vous en avez assez de toutes ces belles paroles inconsistantes ?<br/>
              Venez embellir les plus beaux discours de vos politiques préférés !</p>
              <p><strong>Très bonnes expériences à vous !</strong></p><br/>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="height: 60px; margin-bottom:30px; background-color:#000;">
    <div class="row" style=" margin-top:16px;">
      <div class="col-md-4 text-center">
        <a href="{{ path('index') }}" class="pull-right" style="font-size: 14pt; text-decoration:none; color:#fff;">Renouveler le discours</a>
      </div>
      <div class="col-md-4 text-center">
        <a href="{{ path('apropos') }}" style="font-size: 14pt; text-decoration:none; color:#fff;">Les autres projets</a>
      </div>
      <div class="col-md-4 text-center">
        <a href="http://www.video-jeux.fr" class="pull-left" style="font-size: 14pt; text-decoration:none; color:#fff;">www.video-jeux.fr</a>
      </div>
    </div>
</div>
